table #movies {
  border-collapse: collapse;
  background-color: white;
  margin: 8px;
  width: 100%;
}

table #movies th, table #movies td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

#movies tr:nth-child(even){background-color: #f2f2f2;}
#movies tr:hover {background-color: #ddd;}

.hilite {
  background-color: yellow;
}
